<div class="bloc-title">
	<span>Invité d'honneur</span>
</div>
<div id="bloc-text" style="font-size:1em; margin:10px 15px 10px 10px;">
	Pour la première fois, Zimmer Dental reçoit <br/>le <span style="color:#008bcb"> <strong>Docteur Dennis TARNOW</strong></span>, référence mondiale en parodontologie et implantologie.<br/> Il nous proposera deux conférences :
</div>	
	<table style="margin-left: 10px; margin-bottom: 5px; width: 270px;">
		<tr style="padding-bottom:10px;">
			<td style="width: 10px;"><img src="/templates/journees/images/puce5x5.png" alt="puce"></td>
			<td colspan="2"><strong>Extraction - implantation immédiate ou différée ? L'état de l'art.</strong><br><br></td>
		</tr>
		<tr>
			<td><img src="/templates/journees/images/puce5x5.png" alt="puce"></td>
			<td style="width: 180px;">
				<strong>
					Les péri-implantites : <br/>
					ce que nous savons, ce que nous pensons savoir et ce que nous ne savons pas.<br/><br>
				</strong>
			</td>
			<td rowspan="2">
				<img src="templates/journees/images/homePageBloc1.png" alt="Dr Dennis Tarnow" style="float:right;"/>
			</td>
		</tr>
		<tr>
			<td colspan="2">A l'issue de ces conférences, Le Dr Dennis Tarnow échangera avec les participants durant 20 minutes.</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-top:10px;"><span class="label" style="float:right; bottom:17px; right:95px; font-size:0.7em; color:#FFFFFF;"><a href="/accueil/invite">En savoir plus</a></span></td>
		</tr>
	</table>
