<div id="content-exposition">
	<div id="content-image">
		<img src="/templates/journees/images/exposition-back.png" width="732" height="638" border="0" usemap="#map" />

		<map name="map">

			<area shape="rect" coords="250,100,425,150" href="http://www.bqergonomics.eu/en/" target="blank">

			<area shape="rect" coords="493,121,708,200" href="http://www.materialisedental.com" target="blank">

			<area shape="rect" coords="521,250,702,316" href="http://www.vatech-france.fr" target="blank">

			<area shape="rect" coords="412,354,566,428" href="http://www.owandy.fr/#panoramique.php_imaxTouch3d.scr" target="blank">

			<area shape="rect" coords="181,350,361,440" href="http://www.stoma.de/index.php?L=5" target="blank">

			<area shape="rect" coords="32,255,190,345" href="http://www.neohm.fr" target="blank">

			<area shape="rect" coords="30,161,205,206" href="http://www.editionscdp.fr" target="blank">

			<area shape="rect" coords="232,209,491,309" href="http://www.zimmerdental.fr/home.php?pg=1.2.6" target="blank">

			<area shape="rect" coords="279,520,423,599" href="http://www.sfparo.org" target="blank">

			<area shape="rect" coords="476,518,623,618" href="http://www.societechirorale.com" target="blank">

			<area shape="rect" coords="28,445,221,532" href="http://www.zimmerdental.fr" target="blank">

		</map>
		
	</div>
	<div style="position:absolute;  top:255px; margin-left:125px; font-weight: bold; letter-spacing: 0px;">
		De 8h15 à 17h30, nous vous accueillerons avec nos partenaires, sur l’espace Exposition situé face à
		<br>
		l’auditorium, niveau -1 de l’immeuble du CIS - Bâtiment n° 15 du Campus de l’Institut Pasteur.
	</div>
</div>
