<div id="content-exposition">
	<div id="content-image"> 
		<img src="/templates/journees/images/exposition-back.png" width="732" height="638" border="0" usemap="#map" />

<map name="map">
<area shape="rect" coords="244,105,440,167" href="http://www.bqergonomics.eu/en/" />
<area shape="rect" coords="493,121,708,227" href="http://www.materialisedental.com" />
<area shape="rect" coords="521,272,702,369" href="http://www.vatech-france.fr" />
<area shape="rect" coords="278,363,473,443" href="http://www.stoma.de/index.php?L=5" />
<area shape="rect" coords="30,159,205,230" href="http://www.editionscdp.fr" />
<area shape="rect" coords="232,228,491,334" href="http://www.zfx-dental.com" />
<area shape="rect" coords="32,272,190,402" href="http://www.neohm.fr" />
<area shape="rect" coords="299,520,423,599" href="http://www.sfparo.org" />
<area shape="rect" coords="496,518,623,618" href="http://www.societechirorale.com" />
<area shape="rect" coords="28,445,221,532" href="http://www.zimmerdental.fr" />
</map>
		</div>
	<div style="position:absolute;  top:255px; margin-left:125px; font-weight: bold; letter-spacing: 0px;">
		De 8h15 à 17h30, nous vous accueillerons avec nos partenaires, sur l’espace Exposition situé face à l’auditorium,<br>
		niveau -1 de l’immeuble du CIS - Bâtiment n° 15 du Campus de l’Institut Pasteur.
	</div>
</div>
