<div style="width:940px; background-color:#ececed; padding-top:20px; padding-bottom:20px;" >
		<div class="row" style="margin-left:5px; margin-top:10px;">
			<div class="span3" style="height:35px; width:150px; background-color:#008bcb;">
				<div class="big-title" style="padding: 10px 10px 10px 10px;">
					Mentions légales
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:35px; width:30px;"> </div>
			</div>
		</div>
		<div style="margin-left:55px; margin-right:55px; margin-top:15px; font-size:1.1em; font-weight:bold;">
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at elit odio. Integer eu libero leo. Mauris blandit nisi non odio hendrerit rutrum. Fusce ullamcorper auctor ultricies. Sed fermentum turpis id neque facilisis nec iaculis lacus adipiscing. Nam est leo, euismod quis ornare quis, interdum facilisis lectus. Aenean eget feugiat neque. Curabitur congue, nibh eu interdum fermentum, nibh nibh ultrices est, ac gravida ligula purus sed tortor. Nunc sed purus felis.

Nulla hendrerit adipiscing augue id tempus. Fusce malesuada, nibh sed lobortis tristique, felis ante dictum sem, non imperdiet augue augue sed ipsum. Cras ac cursus ligula. Praesent vel nisl nunc, in commodo eros. Nam fermentum tristique dui ac accumsan. In hac habitasse platea dictumst. Etiam faucibus malesuada nisl, ac dignissim augue rutrum eget. Vivamus pharetra auctor metus sit amet suscipit. Donec interdum laoreet neque vestibulum volutpat. Vivamus sed ultrices nisi. Donec leo nisl, dapibus vel elementum quis, tincidunt at dolor.</p>
		</div>
</div>