<div style="font-weight:bold; font-size:1.1em; width:500px; padding:20px 0px 10px 50px; ">
	<ul class="blue-list">
		<li>
			<a href="/accueil">Accueil</a>
		</li>
		<li>
			<a href="/accueil/programme">Programme &amp; Intervenants</a>
		</li>
		<li>
			<a href="/accueil/invite">Invité d'honneur</a>
		</li>
		<li>
			<a href="/accueil/inscrire">S'inscrire</a>
		</li>
		<li>
			<a href="/accueil/video">Videos chirurgies en direct</a>
		</li>
		<li>
			<a href="/accueil/exposition">Exposition permanentes</a>
		</li>
		<li>
			<a href="/accueil/contact">Infos pratiques - Contact</a>
		</li>
		<li>
			<a href="/accueil/inscrire">Mentions Légales</a>
		</li>


	</ul>
</div>
