<div style="font-weight:bold; font-size:1.1em; width:940px;  background-color:#ececed; margin-top:10px;  ">
	<div class="row" style="margin-left:5px; padding-top:20px;">
			<div class="span3" style="height:35px; width:150px; background-color:#008bcb;">
				<div class="big-title" style="padding: 10px 10px 10px 10px;">
					Plan du site
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:35px; width:30px;"> </div>
			</div>
		</div>
	<div style="margin-left:55px; margin-top:15px; padding-bottom:20px; color:#000000 !important;">
	<ul class="blue-list">
		<li>
			<a href="/accueil">Accueil</a>
		</li>
		<li>
			<a href="/accueil/programme">Programme &amp; Intervenants</a>
		</li>
		<li>
			<a href="/accueil/invite">Invité d'honneur</a>
		</li>
		<li>
			<a href="/accueil/inscrire">S'inscrire</a>
		</li>
		<li>
			<a href="/accueil/video">Videos chirurgies en direct</a>
		</li>
		<li>
			<a href="/accueil/exposition">Exposition permanentes</a>
		</li>
		<li>
			<a href="/accueil/contact">Infos pratiques - Contact</a>
		</li>
		<li>
			<a href="/accueil/inscrire">Mentions Légales</a>
		</li>


	</ul>
	</div>
</div>
