<div style="width:740px; margin-left:120px; margin-top:20px; margin-bottom:50px;">
		<!--<div class="row" style="margin-top:20px;">
			<div class="span11" style="height:35px; width:550px; background-color:#008bcb;">
				<div class="title">
					Si vous n'avez pas pu assister aux CHIRURGIES EN DIRECT des ZID 2012
				</div>
			</div>
			<div class="span1" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:35px; width:30px;"></div>
			</div>
		</div>  -->
	<div class="row">
	<div class="span12" style="font-weight: bold; font-size: 1.1em; margin-top:20px; width:740px;">
		Lors de la ZID 2012, les Drs Michel Jabbour et Philippe Khayat avaient réalisé en direct 3 chirurgies pré-implantaires, retransmises en direct à l’Institut Pasteur.
<br/>
<br/>
Jeudi 4 avril 2013, le Docteur Michel Jabbour a présenté la réouverture de son cas de reconstruction maxillaire, filmée en novembre 2012, ainsi que l’étude prospective à 2 ans sur le Puros®.
<br/>
<br/>
Retrouvez, ci-dessous, le film de cette réouverture avec les commentaires du Dr Jabbour.
	</div>
	</div>
	
	
	
	<div style="margin-top:20px; font-size:1.1em; font-weight:bold;">
		<div class="row">
		<div class="span6 offset2">
		<div style=" width:330px !important; height:296px; background-color:#333333;">
			<div  style="margin-top:10px; margin-left:8px;">
		<a  href="/templates/journees/videos/Jabbour-2/index.html" target="_blank"><img style="margin-top:10px;" src="/templates/journees/images/video-3.png" /> </a>
			</div>
			<div style="font-weight:bold; font-size:1.1em; text-align:center; color:#FFFFFF; width:305px; height:75px; margin-top:20px; margin-left:10px;">
	Reconstruction maxillaire (Dr M.Jabbour)
</div> 
		</div>
		</div>
		</div>
	</div>
	
	<div class="row">
	<div class="span12" style="font-weight: bold; font-size: 1.1em; margin-top:20px; width:740px;">
			Vous pouvez également revoir ci-dessous les vidéos des chirurgies en direct du 24 mai 2012.
	</div>
	</div>

	
	
	<div class="row" style="margin-top:20px;">
<!--Bloc video-1-->
	<div class="span6" style=" width:330px !important; height:296px; background-color:#333333;">
		<div  style="margin-top:10px; margin-left:8px;">
		<a href="/templates/journees/videos/Jabbour-1/index.html" target="_blank"><img src="/templates/journees/images/video-1.png" /> </a>
</div> 
<div style="font-weight:bold; font-size:1.1em; text-align:center; color:#FFFFFF; width:305px; height:75px; margin-top:20px; margin-left:15px;">
	Reconstruction maxillaire avec blocs  allogéniques Puros<span class="sup">&reg;</span> (Dr M.Jabbour)
</div>
</div>
<!--Bloc video-2-->
	<div class="span6" style=" width:330px !important; height:296px; background-color:#333333;">
		<div  style="margin-top:10px; margin-left:8px;">
<a  href="/templates/journees/videos/Khayat-1/index.html" target="_blank"><img style="width:156px;" src="/templates/journees/images/video-2-2.png" /> </a>
<a  href="/templates/journees/videos/Khayat-2/index.html" target="_blank"><img style="width:156px;" src="/templates/journees/images/video-2-2.png" /> </a>
</div> 
<div style="font-weight:bold; font-size:1.1em; text-align:center; color:#FFFFFF; width:305px; height:75px; margin-top:20px; margin-left:10px;">
	Soulevé de sinus bilatéral par voies crestales et latérale (Dr Ph.Khayat)
</div> 
	</div>
	</div>
</div>